body {
  display:flex;
  height:100vh;
  justify-content: center;
  align-items:center;
  background-color:#f4f4f4;
}
button {
  padding: 15px 30px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  background-color: #3498db;
  cursor:pointer;
  transition: background-color 0.3s ease;
}
button:hover{
  background-color: #2980b9;
}
  
